.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  color: #ffffff;
}
/* Nerdy secret: You can use "less" below! Don't tell anybody... */

.github-profile {
  margin: 1rem;
}
img {
  width: 75px;
}
.info {
  display: inline-block;
  margin-left: 12px;
}
.name {
  font-size: 1.25rem;
  font-weight: bold;
}
form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  padding: 1rem;
  width: max-content;
  border: 1px solid #ffeeee;
}
